<center>
	<h1>Benjamin Jong<h1>

	<h2 style="color:white;">
		<font style="background-color:green">
			San Leandro
		</font>
	</h2>

	<%= image_tag("phs31.jpg") %>
	<h2>Junior</h2>

	<font size="8" color="red">
		<b>
			I like playing League of Legends and Smash Melee/PM. LEGGO
		</b>
	</font>
	<p></p>
	<font size="7" color="blue">
		<u>
			Looking forward learning more of this "magic" stuff.
		</u>
	</font>
</center>
